html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="/custom.css")
    link(rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/7623abb5-834f-485d-8ee8-17097f6a6d0c%2Fanh64.png?v=1589092694742")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') CodersX
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href='/users') Users 
          a.nav-item.nav-link(href='/books') Books
          a.nav-item.nav-link(href='/transactions') Transactions
          a.nav-item.nav-link(href='#') Cart
    
    .container.mt-4
      block content
    