extends ./layouts/common

block content
  h1 Add Book 

  form(action="/books/add", method="POST")
    .form-group
      label(for='exampleInputEmail1') Title
      input#exampleInputEmail1.form-control(type='text', name="title")
      
    .form-group
      label(for='exampleInputPassword1') Description
      input#exampleInputPassword1.form-control(type='text', name='description')
    
    .form-group
      label Image
      input.form-control-file(type="file", name="coverUrl")
      
    button.btn.btn-primary(type='submit') Add