extends ./layouts/common

block content
  h1 Book List

  a(href="/books/add") Thêm sách

  .row.mt-3
    each item in books
      .col-sm-6.col-md-4.col-lg-3
        .card.mb-3
          img.card-img-top(src=item.coverUrl)
          .card-body
            h5.card-title= item.title
            p.card-text= item.description
            a.btn.btn-primary.mr-2(href='#') Xóa 
            a.btn.btn-primary.mr-2(href='#') Update
    
      