extends ./layouts/common

block content
  h1 Book List

  a(href="/books/add") Thêm sách

  ul
    each item in books
      li.m-2
        span= item.title
        span &nbsp;
        a.btn.btn-primary(href="/books/" + item.id + "/delete") Xóa
        span &nbsp;
        a.btn.btn-primary(href="/books/" + item.id + "/update") Update
    
      