extends ./layouts/common

block content 
  h1 Update Title

  form(action="/books/" + id + "/update", method="POST")
    .form-group
        label(for='exampleInputEmail1') Title
        input#exampleInputEmail1.form-control(type='text', name='newTitle')

    button.btn.btn-primary(type='submit') Update
