extends ../layouts/common

block content 
  h1 Transactions

  if err
    .alert.alert-danger= err 
    
  ul
    each item in transactions
      if !item.isAdmin
        .card(style='width: 18rem;')
          .card-body
            h5.card-title Id
            p.card-text User ID:
            p.card-text Book ID:
            a.btn.btn-primary(href='#') Ho&agrave;n th&agrave;nh

      
      