extends ../layouts/common

block content 
  h1 Transactions

  if err
    .alert.alert-danger= err 
    
  ul
    each item in transactions
      if !item.isAdmin
        li
        span Id:
        span &nbsp;
        span=  item.id
        br
        span User Id:
        span &nbsp;
        span= item.userId
        br
        span Book Id:
        span &nbsp;
        span= item.bookId
        br 
        span Complete:
        span &nbsp;
        span= item.isComplete
        br
        a.btn.btn-primary(href="/transactions/" + item.id + "/complete") Hoàn thành
      
      
      