extends ../layouts/common

block content 
  h1.mb-5 Upload Avatar
  
  div.w-100.mb-3
    img.rounded-circle(src=user.avatarUrl, style="width: 120")
    div.w-120
      img.rounded-circle(src="https://21-file-uploadd.glitch.me/4cccc203686b652401029524e8a3d597", style="width: 120")

  form(method="POST", enctype="multipart/form-data")
      .form-group
        label(for='avatar') Avatar
        input#avatar.form-control-file(type='file', name='avatarUrl')
      
      button.btn.btn-primary Submit