extends ../layouts/common

block content
  h1 User List

  ul
    each item in users
      li.m-3
        span= item.name
        span &nbsp;
        a.btn.btn-primary(href="/users/" + item._id + "/delete") Xóa
        span &nbsp;
        a.btn.btn-primary(href="/users/" + item._id + "/update") Update
    
      