extends ../layouts/common

block content 
  h1.mb-5 Update Profile
  
  div.w-100.text-center.mb-3
    img.rounded-circle(src=user.avatarUrl, style="width: 120")

  form(method="POST")
      .form-group
        label(for='name') Name
        input#name.form-control(type='text', name='name')
      
      div.mb-2
        a.btn.btn-primary(href="/users/profile/avatar") Update Avatar
      button.btn.btn-primary Update