extends ../layouts/common

block content 
  h1.mb-5 Update Profile
  
  div.w-100.text-center.mb-3
    img(src="https://stafforgserv.com.au/wp-content/uploads/2018/09/user-img.png", style="width: 120")

  form(method="POST")
      .form-group
        label(for='name') Name
        input#name.form-control(type='text', name='name')
      
      div.mb-2
        a.btn.btn-primary(href="/users/profile/avatar") Update Avatar
      button.btn.btn-primary Update