extends ../layouts/common

block content 

  form(action="/users/" + id + "/update", method="POST")
    .form-group
      label(for='name') New user's name
      input#name.form-control(type='text', name='newName')

    button.btn.btn-primary Update